.card-container{
    padding: 2rem;
    color: var(--color);
    width: 100vw;
}

.cake_variant{
    width: 20vw;
    background-color:#fff ;
    padding: 1rem;
    border-radius: 50%;
    
}
.card{
    background-color: var( --bg-light);
    padding: 2rem;
    border-radius: 1rem;
}
.card > p{
    margin-top: 1rem;
}
.card:hover{
    background-image: url('../assets/img/hover-img.png');
}